.bodyType{
    width: 555px;
    background-color: rgb(235, 228, 195);
}

.selectionTop, .selectionMiddle, .selectionBottom{
    width: 540px;
    display: flex;
    padding: 10px;
}

.selectionTop{
    padding-bottom: 2px;
}

.selectionMiddle{
    padding-top: 2px;
    padding-bottom: 2px;
}
.selectionBottom{
    padding-top: 2px;
}

.selectionEX{
    display: block;
}

.left{
    width: 160px;
    background-color: rgb(94, 46, 24);
    padding: 10px;
    padding-top: 5px;
    float: inline-start;
    height: 25px;
}

.leftNone{
    /* display: none; */
    padding: 10px;
    padding-bottom: 0px;
    background-color: rgb(235, 228, 195);
    color: rgb(235, 228, 195);
}



.titleL{
    width: 150px;
    padding: 5px;
    float: inline-end;
    font-size:large;
    color:rgb(235, 228, 195);
}

.right{
    width: 330px;
    height: 20px;
    padding-left: 5px;
}
.itemR{
    padding: 5px;
}

.inputURL{
    width: 100%;
    margin-left: -4px;
    height: 20px;
}

.optline{
    display: flex;
    padding: 5px;
}

.opt{
    background-color: rgba(194, 82, 7, 0.397);
    border-bottom: solid 2px rgba(145, 58, 0, 0.788);
    border-left: solid 2px rgba(145, 58, 0, 0.788);
    display: flex;
    padding: 3px;
    padding-top: 5px;
}

.optSelected{
    background-color: rgba(145, 58, 0, 0.788);
    color: white;
    border-bottom: solid 2px black;
    border-left: solid 2px black;
    display: flex;
    padding: 3px;
    padding-top: 5px;
}

.optNone{
    display: flex;
}

.optSep{
    width: 5px;
    padding-left: 5px;
}

.rcol{
    display: flex;
}

.radioType{
    width: 10px;
    padding-right: 9px;
    align-content: flex-start;
}

.labelType{
    width: 80px;
    padding-left: 5px;
}
